<div class="content">
  <img
    src="/assets/pixels-top.svg"
    height="180px"
    width="178px"
    class="pixels-top"
  />
  <h2>Relatórios</h2>
  <span class="total">Saldo total: {{ balance.currentAccount }}</span>
  <div class="cards-wrapper">
    <div class="card">
      <p class="title">Saques</p>
      <p class="value">{{ transfersFormated }}</p>
    </div>
    <div class="card">
      <p class="title">Depósitos</p>
      <p class="value">{{ depositsFormated }}</p>
    </div>
  </div>
  <div class="statistics">
    <h3>Estatísticas</h3>
    <div class="card chart">
      <span>Relatório deste mês</span>
      <app-doughnut-chart></app-doughnut-chart>
      <span>Relatórios dos últimos 4 meses</span>
      <app-bar-chart></app-bar-chart>
    </div>
  </div>
  <img
    src="/assets/pixels-bottom.svg"
    height="180px"
    width="178px"
    class="pixels-bottom"
  />
</div>
